@media screen and (max-width: 479px) {
    .custcontainer{
        width: 80%;
        margin: 0 auto;
    }
    nav{
        padding: 35px 0 35px 0 !important;
        height: 50px;
        .navlogo{
            text-align: center;
            color:#0073e6;
            border: 3px solid #0073e6;
            letter-spacing: 5px;
            font-weight: 700;
            padding: 8px 20px;
            width: 100px;
            margin:0 auto;
            font-family: "Cooper Black";
            font-size: 16px;
        }
        a{
            text-decoration: none !important;
        }
        span{
            margin: 0 3px 0 1px;
            font-family: "Cooper Black";
        }
        .navbar-nav{
            @media only screen and (max-width: 1240px) {
              display: none;
        }
    }
        ul{
            position: absolute;
            right: 200px;
            a{
                font-size: 26px;
                color: #0073e6 !important;
            }
        }
    }
    #section1{
        height: auto;
        h3{
            width: 70%;
            margin:150px auto 0 auto;
            font-size: 2rem;
            font-style: italic;
            text-align: center;
            color: rgb(41, 41, 41);
        }
        .s1-img{  
            height: auto;
            width: 100%;
            margin:80px auto 0 auto;
            text-align: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    
    }
    #section2{
        margin: 80px 0 0 0;
        .s2-description-grid{
            display:block; 
            text-align: center;
            .s2-description{

                text-align: center;
            }
            .s2-contact{
               
                button{
                    color: white;
                    background: #0073e6;
                    width: 80% !important;
                    height: 68px;
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 4px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
        .s2-info-grid{
            margin: 100px 0 0 0;
            display:block;
    
            h1{
                font-style: italic;
                font-size: 26px;
                margin: 0 0 40px 0;
            }
            p{
                margin: 0 0 40px 0;
                padding: 0 10% 0 0;
            }
            i{
                font-size: 10px;
            }
            a{
                text-decoration: none;
            }
        }
    }
    #section3{
        height: 300px;
        position: relative;
        margin: 100px 0 0 0;
        .s3-img{
            position: absolute;
            width: 100%;
            height:80%;
            background: url(../img/computer.png)no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .s3-ourpractice{
            position:absolute;
            left:10%;
            text-align: center;
            top:100px;
            height: auto;
            width: 80%;
            background-color: rgb(243, 243, 243);
            padding: 8%;
            h1{
                font-size: 26px;
                font-style: italic;
                
            }
            p{
                font-size: 15px;
                margin: 20px 0 20px 0;
            }
            a{  
                background: #0073e6;
                color: white;
                padding: 5% 5%;
                letter-spacing: 2px;
                height: 50px;
                width:80%;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 4vw;
            }
        }
    }
    #section4{
        width: 85%;
        margin:100px auto 0 auto;
        text-align: center;
        h3{
            font-size:30px;
            font-style: italic;
        }
        p{
            font-size: 20px;
        }
    }
    #section5{
        height: 300px;
        position: relative;
        margin: 100px 0 0 0;
        border-bottom: 1px solid rgb(235, 235, 235);
        .s5-img{
            position: absolute;
            left:0;
            width: 100%;
            height:80%;
            background: url(../img/computer2.jpg)no-repeat center center; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .s5-topten{
            position:absolute;
            left:10%;
            text-align: center;
            top:100px;
            height: auto;
            width: 80%;
            background-color: rgb(243, 243, 243);
            padding: 8%;
            h1{
                font-size: 26px;
                font-style: italic;
                
            }
            p{
                font-size: 15px;
                margin: 20px 0 20px 0;
            }
            a{  
                background: #0073e6;
                color: white;
                padding: 5% 5%;
                letter-spacing: 2px;
                height: 50px;
                width:80%;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 4vw;
            }
        }
    }
    #section6{
        width: 80%;
        height:350px;
        margin:100px auto 0 auto;
        text-align: center;
        h3{
            font-size: 30px;
            font-style: italic;
        }
        p{
            font-size: 20px;
            margin:0 0 100px 0;
        }
        a{  
            background: #0073e6;
            color: white;
            padding: 15px 30px;
            letter-spacing: 2px;
            height: 50px;
            width:150px;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
        }
    }
    footer{
        margin: 80px 0 0 0;
        height: 80px;
        text-align: center;
        p{
            font-family: 'Roboto Mono', monospace;
            letter-spacing: 2px;
        }
    }
}